<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<!-- Put configuration here -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.enth.ecomusic.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/artist/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>RoleFilter</filter-name>
		<filter-class>com.enth.ecomusic.filter.RoleFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RoleFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RoleFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RoleFilter</filter-name>
		<url-pattern>/artist/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>RoleFilter</filter-name>
		<url-pattern>/music/*</url-pattern>
	</filter-mapping>

	<!-- <error-page> <error-code>404</error-code> <location>/WEB-INF/error-pages/not-found.jsp</location> 
		</error-page> <error-page> <error-code>500</error-code> <location>/WEB-INF/error-pages/general-error.jsp</location> 
		</error-page> <error-page> <location>/WEB-INF/error-pages/unknown-error.jsp</location> 
		</error-page> -->

</web-app>